.display {
    background-color: #e7e7e7;
    height: 40px;
    width: 343px;
    margin-bottom: 5px;
    padding: 16px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 32px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}

.button {
    background-color: #e9e9e9;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    &:hover {
        background-color: #999999;
    }
}

.button-operator {
    background-color: #bbbbbb;
    font-size: 34px;
    &:hover {
        background-color: #999999;
    }
}

.button-clear {
    background-color: #bbbbbb;
    font-size: 24px;
    &:hover {
        background-color: #999999;
    }
}

.button-evaluator {
    background-color: #75acff;
    font-size: 28px;
    &:hover {
        background-color: #3a89ff;
    }
}
