<div class="display">
    <!-- <span *ngIf="hasFirstOperand">{{ firstOperand }}&nbsp;</span> -->
    <span *ngIf="this.firstOperand.length">{{ parseFirstOperand }}&nbsp;</span>
    <span *ngIf="operator">{{ operator }}&nbsp;</span>
    <!-- <span *ngIf="hasSecondOperand">{{ secondOperand }}&nbsp;</span> -->
    <span *ngIf="this.secondOperand.length">{{ parseSecondOperand }}&nbsp;</span>
    <span *ngIf="hasResult">=&nbsp;{{ result }}</span>
    <span *ngIf="note">=&nbsp;{{ note }}</span>
</div>
<div class="card-container">
    <div class="card" (click)="clear()">C</div>
    <div class="card" (click)="clearAll()">AC</div>
    <div class="card" (click)="setOperand(9)">9</div>
    <div class="card" (click)="setOperand(8)">8</div>
    <div class="card" (click)="setOperand(7)">7</div>
    <div class="card" (click)="setOperand(6)">6</div>
    <div class="card" (click)="setOperand(5)">5</div>
    <div class="card" (click)="setOperand(4)">4</div>
    <div class="card" (click)="setOperand(3)">3</div>
    <div class="card" (click)="setOperand(2)">2</div>
    <div class="card" (click)="setOperand(1)">1</div>
    <div class="card" (click)="setOperand(0)">0</div>
    <div class="card" (click)="setOperator('+')">+</div>
    <div class="card" (click)="setOperator('-')">-</div>
    <div class="card" (click)="setOperator('*')">*</div>
    <div class="card" (click)="setOperator('/')">/</div>
    <div class="card" (click)="evaluate()">=</div>
</div>
